<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        form{
            height: 500px;
            width: 300px;
            border: 1px silver solid;
            margin: 20px auto;
            text-align: center
        }
        h1{
            margin: auto;
            width: 500px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: green;
        }
    </style>
</head>

<body>
    <h1>登录</h1>
    <form action="/loginInfo" method="POST">
        <p><label><span>姓名：</span><input type="text" name="username"></label></p>
        <p><label><span>密码：</span><input type="text" name="pwd"></label></p>
        <!-- <p><label><span>邮箱：</span><input type="text" name="email"></label></p> -->
        <!-- <p><label><span>地址：</span><input type="text" name="dress"></label></p> -->
        <!-- <p><label><span>爱好：</span><input type="text" name="like"></label></p> -->
        <p><label><input type="submit" value="登录"></label></p>
    </form>
</body>

</html>