<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table{
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <h1>登录成功</h1>
    <table border="1"cellspacing="0"  cellpadding="10"  >
        <thead>
            <tr>
                <th>姓名</th>
                <th>邮箱</th>
                <th>户籍</th>
                <th>爱好</th>
            </tr> 
        </thead>
        <tbody>
            <tr>
                <td>张三</td>
                <td>张三22222</td>
                <td>张三</td>
                <td>张三</td>
            </tr>
        </tbody>
       
        
    </table>
</body>
</html>